@model IEnumerable<WebApplication1.Models.product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prodname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.brand1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.category1)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prodname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.brand1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.category1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) </br>|
                @Html.ActionLink("Details", "Details", new { id=item.id })</br> |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })</br>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
